// arbic version style start
body.pixel-arabic{
    text-align: right;
    &.pixel-dashboard aside{
        left: auto;
        right: 0;
        .pixel-logo{
            justify-content: flex-end;
        }
    }
    .pixel-content-area{
        margin-left: 0px;
        margin-right: 80px;
        .pixel-top-head .profile .profile-icon{
            margin-left: 0px;
            margin-right: 24px;
            .profile-name{
                margin-left: 0px;
                margin-right: 8px;
            }
      }

        .pixel-total-bar .pixel-total-order .pixel-order-count .pixel-increase,   .pixel-total-bar .pixel-sample-order .pixel-order-count .pixel-increase,   .pixel-total-bar .pixel-promotional-order .pixel-order-count .pixel-increase{
            margin-left: 0;
            margin-right: 24px;
        }
        .pixel-total-bar .pixel-sample-order,   .pixel-total-bar .pixel-promotional-order{
        padding-left: 0px;
        padding-right: 24px;
        border-left: 0;
        border-right: 1px solid #EDEFEF;
        @media(max-width:767px){
          border-right: 0;
          padding-right: 0px;
        }
        }
        .pixel-total-bar .pixel-last-loign span{
        text-align: left;
       }
       .pixel-order-table .pixel-table-content .pixel-tab-pane .pixel-row .pixel-width .pixel-main-table .pixel-datatable table tbody tr td:last-of-type{
        padding-right: 0;
        padding-left: 32px;
      }
      .pixel-order-table .pixel-table-content .pixel-tab-pane .pixel-row .pixel-width .pixel-main-table .pixel-datatable table tbody tr td:first-of-type{
        padding-right: 32px;
        padding-left: 0px;
      }
      .pixel-order-table .pixel-table-content .pixel-tab-pane .pixel-row .pixel-width .pixel-main-table .pixel-datatable table thead tr th{
        text-align: right;
     }
     .pixel-order-table .pixel-table-content .pixel-tab-pane .pixel-row .pixel-width .pixel-main-table .pixel-datatable table thead tr th:first-of-type{
        padding-left: 0;
        padding-right: 24px;
     }
     .pixel-order-table .pixel-srch-filter .pixel-search-box .pixel-search{
        padding-left: 0;
        padding-right: 44px;
        background-position-x: 98% !important;
    }
     .pixel-order-table .head-tabs .pixel-export{
         float: left !important;
     }
     .pixel-order-table .head-tabs ul.pixel-order-tabs{
         display: inline-flex !important;
     }
      .pixel-order-table .head-tabs ul.pixel-order-tabs li{
          margin-right: 0;
        margin-left: 48px;
      }
    }
    aside.pixel-expand .pixel-pages-links li a{
        padding: 0px 33px 0 0 ;
        justify-content: right;
    }
     aside.pixel-expand .pixel-pages-links li a label{
         margin-left: 0px ;
         margin-right: 20px;
     }
      aside.pixel-expand .pixel-pages-links li.expand-active ul.sub-nav li a{
        padding-left: 0;
        padding-right: 72px;
        justify-content: right;
     }
      aside.pixel-expand .pixel-pages-links li a label.pixel-notification::after{
          right: auto;
          left: -17px;
      }
       .pixel-content-area .pixel-order-table .pixel-table-content .pixel-tab-pane .pixel-row .pixel-width .pixel-table-footer .pixel-pagination .pixel-page-counter .pixel-prev svg,  .pixel-content-area .pixel-order-table .pixel-table-content .pixel-tab-pane .pixel-row .pixel-width .pixel-table-footer .pixel-pagination .pixel-page-counter .pixel-next svg{
        transform: rotate(180deg);
       }
        .pixel-content-area .pixel-details-main .pixel-order-details .pixel-details-inner .pixel-order-total .pixel-prize-box .pixel-order-txt,  .pixel-content-area .pixel-details-main .pixel-order-details .pixel-details-inner .pixel-order-total .pixel-prize-box .pixel-price-text,  .pixel-content-area .pixel-details-main .pixel-order-details .pixel-details-inner .pixel-order-total .pixel-prize-box .pixel-shipment,  .pixel-content-area .pixel-details-main .pixel-order-details .pixel-details-inner .pixel-order-total .pixel-prize-box .pixel-cost-text{
            margin-left: 166px;
            margin-right: 0;
            @media(max-width:1260px){
              margin-left: 103px;
            }
        }
         .pixel-content-area .pixel-details-main .pixel-order-details .pixel-supplier-details .pixel-supplier-box .pixel-supplier-profile .pixel-supplier-name .pixel-verify-tag{
            background: url(../images/check.svg) no-repeat right center;
         }
          .pixel-content-area .pixel-details-main .pixel-order-details .pixel-supplier-details .pixel-supplier-box .pixel-supplier-profile .pixel-supplier-name .pixel-verify-tag{
            padding: 4px 26px 4px 0px;
          }

      @media (max-width:575px) {
    .pixel-content-area{
    margin-right: 0;
    }
    .pixel-order-table .head-tabs ul.pixel-order-tabs{
        flex-flow: column;
    }   
    }

    // order details page 
   .pixel-content-area .pixel-details-main .pixel-order-details .pixel-details-inner .pixel-ordered-list .pixel-ordered-listitem .pixel-item-details{
    margin-left: 0;
    margin-right: 14px;
    }
     .pixel-content-area .pixel-details-main .pixel-delivery-status{
         margin-left: 0px;
         margin-right: 32px;
     }
      .pixel-content-area .pixel-details-main .pixel-delivery-status .pixel-order-traker{
          padding: 0 32px 0 0;
      }
       .pixel-content-area .pixel-details-main .pixel-order-details .pixel-supplier-details .pixel-supplier-box .pixel-supplier-profile .pixel-supplier-name{
           margin-left: 0;
           margin-right: 17px;
       }
        .pixel-content-area .pixel-details-main .pixel-order-details .pixel-supplier-details .pixel-supplier-head .pixel-supplier-title{
            padding: 24px;
       }
        .pixel-content-area .pixel-details-main .pixel-order-details .pixel-supplier-details .pixel-supplier-box .pixel-supplier-category .pixel-supplier-country .pixel-country-name{
            margin-left: 0;
            margin-right: 5px;
       }
        .pixel-content-area .pixel-details-main .pixel-order-details .pixel-details-inner .pixel-ordered-list .pixel-ordered-listitem .pixel-item-delete{
            text-align: left;
        }
         .pixel-content-area .pixel-details-main .pixel-delivery-status .pixel-order-traker .pixel-order-text{
             margin-left: 0;
             margin-right: 16px;
         }
       @media (max-width:1024px) {
        .pixel-content-area .pixel-details-main .pixel-delivery-status{
            margin-right: 0px;
        }
        @media (max-width:575px) {
             .pixel-content-area .pixel-details-main .pixel-order-details .pixel-details-inner .pixel-order-total .pixel-prize-box .pixel-order-txt,  .pixel-content-area .pixel-details-main .pixel-order-details .pixel-details-inner .pixel-order-total .pixel-prize-box .pixel-price-text,  .pixel-content-area .pixel-details-main .pixel-order-details .pixel-details-inner .pixel-order-total .pixel-prize-box .pixel-shipment,  .pixel-content-area .pixel-details-main .pixel-order-details .pixel-details-inner .pixel-order-total .pixel-prize-box .pixel-cost-text{
                 margin-left: 0;
             }
        }
           
       }
       .pixel-content-area{
        .pixel-rfq-summery{
          .pixel-sample-order{
            margin-left: 0;
            margin-right: 93px;
            @media(max-width:1200px){
              margin-right: 0;
              border-right: 0;
            }
          }
        }
        .pixel-order-table{
          .head-tabs{
            ul.pixel-order-tabs{
              li.active{
                &::after{
                  bottom: -11px;
                  @media(max-width:575px){
                    bottom: 0;
                  }
                }
              }
              li{
                &::after{
                  bottom: -11px;
                  left: auto;
                  right: 0;
                 
                  @media(max-width:575px){
                    bottom: 0;
                  }
                }
                @media(max-width:991px){
                  margin-left: 25px;
                }
                @media(max-width:575px){
                  margin-left: 0;
                }
                &:hover{
                  &::after{
                    bottom: -11px;
                    @media(max-width:575px){
                      bottom: 0;
                    }
                  }
                }
               
              }
            }
          }
          .pixel-srch-filter{
            .pixel-filters{
              .pixel-sort{
                .droplist-box{
                  left: auto;
                  right: 0;
                  ul{
                    li{
                      text-align: right;
                      padding-left: 0;
                      padding-right: 16px;
                    }
                  }
                }
              }
            }
          }
        }
    .pixel-details-main{
      .pixel-quatation{
        .pixel-quatation-received{
          .pixel-quotation-details{
            padding: 24px 24px 32px 83px;
          }
            .pixel-quotation-item{
              .pixel-ordered-listitem{
                .pixel-expiry-date{
                  margin-right: 0;
                  margin-left: 114px;
                  @media(max-width:991px){
                    margin-left: 0;
                  }
                  span{
                    &:first-of-type{
                      margin-right: 0;
                      @media(max-width:767px){
                        margin-left: 12px;
                      }
                    }
                  }
                }
              }
            }
          
          .pixel-message{
            textarea.pixel-message-area{
              padding: 16px 16px 0 0;
            }
          }
        }
      }
      .pixel-adds{
        margin-left: 0;
        margin-right: 32px;
        @media(max-width:1200px){
          margin-right: 0;
        }
      }

    }
    .pixel-title-bar{
      .pixel-export-pdf{
        .export-text{
          margin-left: 0;
          margin-right: 9px;
        }
      }
    }
    .pixel-my-wishlist{
      .wishlist-title{
        padding-left: 0;
        padding-right: 21px;
      }
      .pixel-wishkist-head{
        padding: 0 24px 12px 15px;
        .pixel-wishlist-create{
          .wishlist-create-txt{
            margin-right: 0;
            margin-left: 16px;
          }
        }
      }
      .pixel-wishlist-listing{
        .pixel-listing-inner{
          .listing-item{
            .listing-item-content{
              .item-actual-value{
                .item-offer{
                  margin-left: 0;
                  margin-right: 10px;
                }
              }
            }
          }
        }
      }
    }
    .pixel-supplier-list{
      .supplier-list-head{
        ul.supplier-list-nav{
          padding: 24px 24px 13px 0;
        }
        .supplier-create{
          margin-right: 0;
          margin-left: 16px;
          .create-icon{
            margin-left: 0;
            margin-right: 16px;
          }
        }
        
          @media(max-width:475px){
            align-items: flex-start;
          }
        
      }
      .pixel-supplier-content{
        .pixel-supplier-all{
          .pixel-srch-filter{
            .pixel-search-box{
              .pixel-search{
                // background-position: right;
                padding-left: 0;
                padding-right: 44px;
                background: url("../images/search.svg") no-repeat right;
                background-position-x: 98%;
              }
            }
            .pixel-filters{
              .pixel-export-pdf{
                .export-text{
                  margin-left: 0;
                  margin-right: 9px;
                }
              }
         
            }
          }
          .pixel-supplier-listing{
            .pixel-main-table{
              .pixel-datatable{
                table{
                  thead{
                    tr{
                      th{
                        text-align: right;
                        &:first-of-type{
                          padding-left: 0;
                          padding-right: 24px;
                          // text-align: right;
                        }
                      }
                    }
                  }
                  .pixel-body{
                    tr{
                      td{
                        &:first-of-type{
                          padding-left: 0;
                          padding-right: 24px;
                        }
                        &:last-of-type{
                          padding-left: 32px;
                          padding-right: 0;
                        }
                      }
                    }
                  }
                }
                .message{
                  margin-left: 0;
                  margin-right: 8px;
                }
              }
            }
          }
        }
        .pixel-supplier-fav{
          .category-name{
            padding-left: 0;
            padding-right: 12px;
          }
          .supplier-fav-list{
            .fav-list-item{
              .fav-supplier-box{
                .fav-supplier-profile{
                  padding: 23px 13px 13px 0;
                  .fav-supplier-name{
                    margin-left: 0;
                    margin-right: 17px;
                    .fav-verify-tag{
                      padding: 4px 26px 4px 0;
                      background: url("../images/check.svg") no-repeat right center;
                    }
                  }
                }
              }
            }
          }
        }
      }

    }
    .pixel-support-main{
      .pixel-support{
        .pixel-details-inner{
          .pixel-details-head{
            padding: 24px 24px 21px 0;
          }
          .pixel-supplier-chatbox{
            left: -100% ;
            border-left: none;
            border-right: 1px solid #EDEFEF;
            right: auto;
            direction: ltr;
          }
          .chat-open{
            left: 0;
          }
        }
        .pixel-support-section{
          .pixel-support-create{
            form{
              fieldset{
                .field-box{
                  padding-left: 0;
                  padding-right: 16px;
                }
                textarea{
                  padding: 13px 16px 0 0;
                }
              }
            }
          }
          .pixel-ticket-list .pixel-tab-pane .pixel-row .pixel-width .pixel-main-table .pixel-datatable table tbody tr td{
            text-align: right;
          }
          .pixel-ticket-list .pixel-tab-pane .pixel-row .pixel-width .pixel-main-table .pixel-datatable table tbody tr td:last-of-type{
            text-align: right;
            padding-left:32px ;
            padding-right: 0;
          }
        }
      }
    }
    .pixel-table-content .pixel-tab-pane .pixel-row .pixel-width .pixel-main-table .pixel-datatable table thead tr th{
      text-align: right;
    }
    .dashboard-total .pixel-promotional-order:last-child{
      margin-right: 0;
      margin-left: 118px;
    }
    .pixel-things{
      background: linear-gradient(270deg, #FFFFFF 32.81%, #FFF2CF 100%);
    }
    .pixel-summery .summery-graph{
      margin: 0 24px 0 0;
    }
    .pixel-things .things-points ul li{
      padding-left: 0;
      padding-right: 20px;
    }
    .pixel-things .things-points ul li::before{
      left: auto;
      right: -2px;
    }
    .pixel-things .things-img{
      margin-right: auto;
      margin-left: 112px;
    }
    .pixel-summery .summery-graph .graph-head .graph-filter .month-filter{
      margin-left: auto;
      margin-right: 8px;
    }
    .pixel-items-top > div .recent-head{
      padding: 24px 24px 13px 0;
    }
    .pixel-items-top .pixel-fav-product .recent-order-list .recent-order-item .recent-item-details{
      margin-left: auto;
      margin-right: 14px;
    }
    .pixel-items-top .most-items .recent-order-list .recent-order-item .recent-item-details{
      margin-left: auto;
      margin-right: 14px;
    }
    .pixel-items-top .pixel-fav-product .recent-order-list .recent-order-item .recent-item-details .fav-item-icon{
      right: auto;
      left: 0;
    }
    .pixel-rfq-summery .pixel-total-order{
      padding: 24px 24px 24px 0;
    }
    .pixel-rfq-summery .pixel-sample-order .pixel-rfq-status{
      padding-right: 0;
      padding-left: 32px;
    }
    .pixel-rfq-summery .pixel-progress-bar-hints .color-hints .hint-text{
      margin-right: 12px;
      margin-left: auto;
    }
    .pixel-total-supplier-box .supplier-area .supplier-top-list .supplier-list-item .supplier-list-toper .toper-details{
      margin-left: auto;
      margin-right: 24px;
    }
  }
}

// dashboard notification 
body.pixel-arabic.open_notification{
  .pixel_dashboard_notification-sidebar{
      left: 0px;
      right: auto;
      
  }
}
body.pixel-arabic{
  .pixel_dashboard_notification-sidebar{
      left: -521px;
      right: auto;
      .pixel_dashboard_notification-sidebar-wrap .pixel_notification_nav .pixel_notify-btn .pixel_notify-btn-text{
          padding-left: 0;
          padding-right: 5px;
      }
      .pixel_dashboard_notification-sidebar-wrap .pixel_notification_nav .pixel_notify-btn{
          box-shadow: -5px 7px 10px #eee;
      }
      .pixel_dashboard_notification-sidebar-wrap .pixel_notification_body .pixel_notification_body-content .notification_block .notification_block-bodycopy{
          margin-left: 0;
          margin-right: 12px;
      }
     .pixel_dashboard_notification-sidebar-wrap .pixel_notification_nav .pixel_notify-btn .pixel_notify-btn-text::before{
         right: 0;
         left: auto;
     }
   .pixel_dashboard_notification-sidebar-wrap .pixel_notification_nav .pixel_notify-btn.new_notification .pixel_notify-btn-logo::after{
       right: 100%;
       left: auto;
   }
  }
}
// dashboard notification end